<h1> Angular App</h1>
<p> {{title}} </p>
<app-header>
        
</app-header>

<router-outlet>
    
</router-outlet>

<!--<button (click) = "pageName = 'home'" >  HOME </button>
<button (click) = "pageName = 'about'">  ABOUT </button>
<button (click) = "pageName = 'contact'">  CONTACT </button>
<button (click) = "pageName = ''"> DEFAULT </button>

 <div [ngSwitch] = "pageName">
    <div *ngSwitchCase = "'home'">
        <app-home>
                
        </app-home>    
    </div>
    <div *ngSwitchCase = "'about'"> 
        <app-about>

        </app-about>
    </div>
    <div *ngSwitchCase = "'contact'"> 
        <app-contact>

        </app-contact>
    </div>
    <div *ngSwitchDefault> No page is shown </div>
</div> -->



 <!--<app-footer [year]='2017  + 1' app-name = "Product App">  without [] arround year makes it String, with [] makes it as an expression -->

   <!-- <app-footer [year]='2017  + 1' app-name = "{{appName}}">  this is interpolation, but donot use [app-name]="{{appName}}" -->
    <!-- <app-footer [year]='2017  + 1' [app-name] = "appName + year"> [] makes it as expression -->
<!-- Binding event from the child -->
    <!-- <app-footer [year]='2017  + 1'
                 [app-name] = "appName + year"
                (contactEvent) = "onContactMessage($event)"
                >
</app-footer> -->

<!-- <app-footer [year]="2017 + 1" app-name="{{appName}}"> -->
        <app-footer [year]="2017 + 1" [app-name]="appName + year" (contactEvent)="onContactMessage($event)">
            </app-footer>